{% extends 'base.html' %}

{% block body %}
  <form action="/login" method="post" name="login">
      {{ login_form.hidden_tag() }}
      <p>
          Please enter your Username:<br>
          {{ login_form.username(size=80) }}<br>
          {% for error in login_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          Please enter your Password:<br>
          {{ login_form.password(size=80) }}<br>
          {% for error in login_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}