{% extends 'base.html' %}

{% block body %}
  <form action="/register" method="post" name="register">
      {{ register_form.hidden_tag() }}
      <p>
          Please enter your Username:<br>
          {{ register_form.username(size=80) }}<br>
          {% for error in register_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          Please enter your Email:<br>
          {{ register_form.email(size=80) }}<br>
          {% for error in register_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p>
          Please enter your Password:<br>
          {{ register_form.password(size=80) }}<br>
          {% for error in register_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
      <p><input type="submit" value="Register"></p>
  </form>
{% endblock %}