<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <title>Cards Against Humanity</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav navbar-right">
    {% if session.get('user_id') %}
	    <li><a href="/logout">Signout</a></li>
    {% else %}
    	<li><a href="/login">Login</a></li>
    {% endif %}
  </ul>
</nav>
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    {% for category, message in messages %}
                        <span>{{message}}</span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>